@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@font-face {
  font-family: Circular Std;
  src: url(../Font/CircularStd/CircularStd-Book.otf);
  src: url(../Font/CircularStd/CircularStd-Book.ttf);
}

@font-face {
  font-family: Circular Std;
  src: url(../Font/CircularStd/CircularStd-Bold.otf);
  src: url(../Font/CircularStd/CircularStd-Bold.ttf);
  font-weight: 600; 
}

@font-face {
  font-family: Domaine Sans;
  src: url(../Font/DomaineSansDisplay/DomaineSansDisplayRegular.otf);  
}

@font-face {
  font-family: Domaine Sans;
  src: url(../Font/DomaineSansDisplay/DomaineSansDisplayBold.otf); 
  font-weight: 600; 
}


