/***** homepage banner section starts ******/

.homebanner_outer {
    width: 100%;
    height: 100vh;
    background-image: url(../images/wrg_home_banner.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(phablet) {
        height: 50vh;
    }

    .banner-heading-outer {
        text-align: center;
        margin-top: 30vh;

        @include breakpoint(phablet) {
            margin-top: 10vh;
        }

        h1 {
            font-family: 'Domaine Sans', sans-serif;
            color: #ffffff;
            font-style: normal;
            font-weight: 600;
            font-size: 120px;
            text-align: center;

            @include breakpoint(ipad) {
                font-size: 100px;
            }

            @include breakpoint(tablet) {
                font-size: 70px;
            }

            @include breakpoint(mobileonly) {
                font-size: 50px;
            }

            @include breakpoint(iphonex) {
                font-size: 40px;
            }

        }

        .sub-title {
            font-family: 'Circular Std', sans-serif;
            color: #ffffff;
            text-align: center;
            letter-spacing: 1.28em;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120.5%;

            @include breakpoint(mobileonly) {
                letter-spacing: .8em;
            }
        }

    }

}



/***** homepage freezing section starts ******/

.freezing-outer {
    width: 100%;
    text-align: center;

    h2 {
        font-family: 'Domaine Sans', sans-serif;
        color: #03325B;
        font-size: 150px;
        line-height: 100.5%;
        font-style: normal;
        font-weight: normal;
        margin-top: 196px;

        @include breakpoint(ipad) {
            font-size: 100px;
            margin-top: 120px;
        }

        @include breakpoint(tablet) {
            font-size: 70px;
        }

        @include breakpoint(mobileonly) {
            font-size: 60px;
            margin-top: 90px;


        }

        @include breakpoint(iphonex) {
            font-size: 50px;
            margin-top: 60px;
        }

    }

    .sub-title-blue {
        font-family: 'Circular Std', sans-serif;
        color: #03325B;
        text-align: center;
        letter-spacing: 1.28em;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120.5%;
        margin-top: 99px;

        @include breakpoint(ipad) {
            margin-top: 70px;
        }

        @include breakpoint(mobileonly) {
            letter-spacing: .8em;
        }
    }

    h3 {
        font-family: 'Domaine Sans', sans-serif;
        color: #03325B;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 120.5%;
        text-align: center;
        margin-top: 93px;
        margin-bottom: 210px;
        max-width: 1073px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(ipad) {
            font-size: 40px;
            margin-top: 70px;
            margin-bottom: 140px;
        }

        @include breakpoint(tablet) {
            font-size: 32px;
        }

        @include breakpoint(mobileonly) {
            font-size: 22px;
            line-height: 1.3em;
            margin-bottom: 90px;
        }

        @include breakpoint(iphonex) {
            margin-bottom: 60px;
        }
    }
}



/***** homepage featured works section starts ******/


.featured_works_outer {
    width: 100%;
    background: #A7C6E3;
    padding-top: 188px;
    display: inline-block;

    @include breakpoint(ipad) {
        padding-top: 140px;

    }

    @include breakpoint(mobileonly) {
        padding-top: 80px;
        
    }

    .featured_works_block {
        width: 100%;
        display: flex;
        overflow: hidden;
        margin-bottom: 127px;
        

        @include breakpoint(ipad) {
            margin-bottom: 100px;

        }

        @include breakpoint(mobileonly) {
            margin-bottom: 60px;
            flex-wrap: wrap;
            
        }

        .featured_title_block {
            min-width: 32%;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;

            @include breakpoint(mobileonly) {
                min-width: calc( 100% - 32px );
                margin-right: 16px;
                margin-left: 16px;
                margin-bottom: 32px;
                flex: 1;
                
            }


            .featured-content {
                width: 300px;
                margin-left: 90px;

                @include breakpoint(laptop) {
                    margin-left: auto;
                    margin-right: auto;
                }

                .featured_title {
                    color: #FFFFFF;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 64px;
                    line-height: 120.5%;
                    text-align: center;
                    font-family: 'Domaine Sans', sans-serif;
                    margin-bottom: 58px;

                    @include breakpoint(ipad) {
                        font-size: 40px;
                        margin-bottom: 30px;

                    }

                    @include breakpoint(tablet) {
                        font-size: 32px;
                    }

                    @include breakpoint(mobileonly) {
                        font-size: 22px;
                        
                    }
                }

                .viewall_btn {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    display: block;
                    text-align: center;
                    font-family: 'Circular Std', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 120.5%;
                    padding-top: 40px;

                    @include breakpoint(tablet) {
                        width: 80px;
                        height: 80px;
                        font-size: 12px;
                        padding-top: 32px;
                    }

                }

                .viewall_btn:hover {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    border: 1px solid #35516B;
                    border-radius: 50%;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    display: block;
                    text-align: center;
                    font-family: 'Circular Std', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 120.5%;
                    padding-top: 40px;
                    background: #35516B;
                    text-decoration: none;

                    @include breakpoint(tablet) {
                        width: 80px;
                        height: 80px;
                        font-size: 12px;
                        padding-top: 32px;
                    }


                }

            }
        }

        .featured_gallery_block {
            min-width: 25%;
            margin: 0 20px 0 0;

            @include breakpoint(ipad) {
                min-width: 24%;
                margin-right: 20px;

            }

            @include breakpoint(tablet) {
                min-width: 24%;
                margin-right: 16px;
            }

            @include breakpoint(mobileonly) {
                min-width: calc( 30% - 32px );
                margin-right: -16px;
                margin-left: 32px;
                flex: 1;
                
            }

            @include breakpoint(vsmll) {
                min-width: calc( 35% - 32px );
                margin-right: -20px;
                margin-left: 32px;
                flex: 1;
                
            }

            img {
                max-width: 100%;
            }

        }



    }

    .border_seperation {
        margin: 0 98px;
        border-top: 1px solid #ffffff;
        height: 1px;

        @include breakpoint(ipad) {
            margin: 0 40px;

        }

        @include breakpoint(mobileonly) {
            margin: 0 16px;
            
        }
    }

    .featured_category_outer {
        width: 100%;

        .csm_nav {
            text-align: center;
            margin-top: 178px;

            @include breakpoint(ipad) {
                margin-top: 90px;

            }

            @include breakpoint(mobileonly) {
                margin-top: 60px;
                
            }


            .nav-tabs {
                text-align: center;
                display: inline-flex;
                border-bottom: 0px;

                .nav-link {
                    color: #FFFFFF;
                    background-color: transparent;
                    border-color: inherit;
                    border: 0px;
                    font-family: 'Domaine Sans', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 44px;
                    padding: 0 68px;

                    @include breakpoint(ipad) {
                        font-size: 24px;
                        padding: 0 48px;

                    }

                    @include breakpoint(phablet) {
                        font-size: 18px;
                        padding: 0 32px;
                    }

                    @include breakpoint(mobileonly) {
                        padding: 0 16px;
                        
                    }


                    .nav-text {
                        position: relative;
                    }

                    .number {
                        width: 38px;
                        height: 38px;
                        border: solid 1px #ffffff;
                        color: #ffffff;
                        border-radius: 50%;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        display: inline-block;
                        padding: 5px 0 0 0;
                        vertical-align: top;
                        margin: 12px 0 0 5px;

                        @include breakpoint(ipad) {
                            width: 28px;
                            height: 28px;
                            padding: 1px 0 0 0;
                            vertical-align: top;
                            margin: 6px 0 0 5px;
                            font-size: 16px;

                        }

                        @include breakpoint(phablet) {
                            width: 24px;
                            height: 24px;
                            padding: 1px 0 0 0;
                            vertical-align: top;
                            margin: 0px 0 0 5px;
                            font-size: 14px;
                        }

                    }
                }

                .nav-link.active {
                    color: #FFFFFF;
                    background-color: transparent;
                    border-color: inherit;
                    border: 0px;
                    font-family: 'Domaine Sans', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 44px;
                    padding: 0 68px;

                    @include breakpoint(ipad) {
                        font-size: 24px;
                        padding: 0 48px;

                    }

                    @include breakpoint(phablet) {
                        font-size: 18px;
                        padding: 0 32px;
                    }

                    @include breakpoint(mobileonly) {
                        padding: 0 16px;
                        
                    }


                    .number {
                        width: 38px;
                        height: 38px;
                        border: solid 1px #35516B;
                        color: #ffffff;
                        border-radius: 50%;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        display: inline-block;
                        padding: 5px 0 0 0;
                        vertical-align: top;
                        margin: 12px 0 0 5px;
                        background: #35516B;

                        @include breakpoint(ipad) {
                            width: 28px;
                            height: 28px;
                            padding: 1px 0 0 0;
                            vertical-align: top;
                            margin: 6px 0 0 5px;
                            font-size: 16px;

                        }

                        @include breakpoint(phablet) {
                            width: 24px;
                            height: 24px;
                            padding: 1px 0 0 0;
                            vertical-align: top;
                            margin: 0px 0 0 5px;
                            font-size: 14px;
                        }

                    }

                    .nav-text:before {
                        width: 100%;
                        height: 1px;
                        border-top: 1px solid #35516B;
                        content: " ";
                        z-index: 11111;
                        position: absolute;
                        top: 32px;

                        @include breakpoint(ipad) {
                            top: 18px;

                        }

                        @include breakpoint(phablet) {
                            top: 14px;
                        }
                    }
                }

                .nav-text {
                    position: relative;
                    display: inline-block;

                }

            }

        }

    }


    .tab_content_outer {
        display: flex;
        overflow: hidden;
        padding-left: 98px;
        padding-top: 98px;
        margin-bottom: 247px;

        @include breakpoint(ipad) {
            padding-left: 40px;
            padding-top: 60px;
            margin-bottom: 147px;

        }

        @include breakpoint(tablet) {
            padding-left: 30px;
        }

        @include breakpoint(mobileonly) {
            padding-left: 30px;
            padding-top: 40px;
            margin-bottom: 90px;
            
        }

        .gal_outer {
            min-width: 30%;
            margin-right: 20px;

            @include breakpoint(tablet) {
                min-width: 28%;
                margin-right: 16px;
            }

            @include breakpoint(vsmll) {
                min-width: 26%;
                margin-right: 15px;
                
            }

            img {
                max-width: 100%;
            }

        }

    }


}


/***** homepage new projects section starts ******/

.new_projects_outer {
    width: 100%;
    position: relative;
    padding-top: 554px;

    @include breakpoint(laptop) {
        padding-top: 300px;
    }

    @include breakpoint(ipad) {
        padding-top: 250px;
    }


    @include breakpoint(mobileonly) {
        padding-top: 700px;
        
    }

    .project_container {
        max-width: 812px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        @include breakpoint(laptop) {

            max-width: 712px;
        }

        @include breakpoint(tablet) {
            max-width: 600px;

            margin-top: -300px;

        }

        h4 {
            font-family: 'Domaine Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 150px;
            line-height: 1.2em;
            text-align: center;
            margin-top: 93px;
            margin-bottom: 104px;
            max-width: 1073px;

            @include breakpoint(laptop) {
                font-size: 90px;
                max-width: 800px;
                margin-bottom: 70px;
                margin-top: 200px;
            }

            @include breakpoint(ipad) {
                font-size: 60px;
                margin-bottom: 60px;
                margin-top: 200px;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }

            @include breakpoint(tablet) {
                font-size: 50px;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }

            @include breakpoint(mobileonly) {
                font-size: 36px;
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
                margin-top: 0px;
                
            }

        }

        .contact-phone {
            font-family: 'Domaine Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 1.3em;
            text-align: center;
            margin-bottom: 20px;

            @include breakpoint(laptop) {
                font-size: 50px;
            }

            @include breakpoint(ipad) {
                font-size: 40px;
            }

            @include breakpoint(tablet) {
                font-size: 30px;
            }

            @include breakpoint(mobileonly) {
                font-size: 24px;  
                margin-bottom: 16px;            
                
            }
        }

        .contact-email {
            font-family: 'Domaine Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 1.3em;
            margin-bottom: 300px;
            text-align: center;
            border-bottom: solid 1px #000000;
            display: inline-block;

            @include breakpoint(laptop) {
                font-size: 50px;
            }

            @include breakpoint(ipad) {
                font-size: 40px;
            }

            @include breakpoint(tablet) {
                font-size: 30px;
            }

            @include breakpoint(mobileonly) {
                font-size: 24px;     
                margin-bottom: 16px;            
                
            }
        }
    }




}


.hvr-reveal {
    transition: all .9s;
    color: #000000;
    background-color: #ffffff;
}

.fifty {
    background: #fff;
    transition: all .5s;
    color: #000000;
}

.ninty {
    background: #121212;
    transition: all .5s;
    color: #fff;

    .project_container .contact-email {
        font-family: 'Domaine Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 1.3em;
        margin-bottom: 300px;
        text-align: center;
        border-bottom: solid 1px #fff;
        display: inline-block;

        @include breakpoint(laptop) {
            font-size: 50px;
        }

        @include breakpoint(ipad) {
            font-size: 40px;
        }

        @include breakpoint(tablet) {
            font-size: 30px;
        }

        @include breakpoint(mobileonly) {
            font-size: 24px;          
            margin-bottom: 16px;       
            
        }
    }
}

.photographer-img {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: -1;
    margin-top: 400px;

    .photo {
        max-width: 100%;

        @include breakpoint(ipad) {
            max-width: 70%;
            margin-top: -300px;
        }

        @include breakpoint(mobileonly) {
            max-width: 70%;
            margin-top: -50px;
        }
        
        @include breakpoint(iphonex) {
            max-width: 80%;
            margin-top: -80px;
        }

        @include breakpoint(vsmll) {
            max-width: 90%;
            margin-top: -150px;
        }
    }
}


/**** footer starts *****/


.wrg_footer_outer {
    width: 100%;
    background: #121212;
    padding: 172px 98px 98px 98px;

    @include breakpoint(ipad) {
        padding: 122px 40px 40px 40px;
    }

    @include breakpoint(tablet) {
        padding: 60px 40px 40px 40px;
    }

   

    .footer_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .subtitle {
            font-family: 'Circular Std', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 0px;
            text-align: left;
            letter-spacing: 0.705em;
            color: #6C6C6C;
            margin-bottom: 54px;

            @include breakpoint(ipad) {
                font-size: 16px;
                margin-bottom: 40px;
            }

            @include breakpoint(tablet) {
                font-size: 14px;
            }

            @include breakpoint(mobileonly) {
                font-size: 10px;
            }
        }


        .footer_address {
            font-family: 'Domaine Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 44px;
            color: #FFFFFF;
            line-height: 144.5%;
            flex: 2;

            @include breakpoint(ipad) {
                font-size: 30px;
            }

            @include breakpoint(tablet) {
                font-size: 18px;
                
            }


        }

        .footer_socialmedia {
            font-family: 'Domaine Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 44px;
            color: #FFFFFF;
            line-height: 64px;
            flex: 1;

            @include breakpoint(ipad) {
                font-size: 30px;
            }

            @include breakpoint(tablet) {
                font-size: 24px;
                line-height: 1.5em;
            }

            @include breakpoint(mobileonly) {
                font-size: 18px;
                
            }


            a {
                font-size: 44px;
                color: #FFFFFF;
                padding-bottom: 27px;
                display: block;
                position: relative;

                @include breakpoint(ipad) {
                    font-size: 30px;
                    padding-bottom: 0px;
                }

                @include breakpoint(tablet) {
                    font-size: 24px;
                }

                @include breakpoint(mobileonly) {
                    font-size: 18px;
                    
                }
            }

            a:hover {
                font-size: 44px;
                color: #FFFFFF;
                text-decoration: none;
                position: relative;

                @include breakpoint(ipad) {
                    font-size: 30px;
                }

                @include breakpoint(tablet) {
                    font-size: 24px;
                }

                @include breakpoint(mobileonly) {
                    font-size: 18px;
                    
                }

            }

            a:hover::before {
                content: " ";
                position: absolute;
                width: 8px;
                height: 8px;
                background: #E48080;
                border-radius: 50%;
                left: -20px;
                top: 27px;
            }
        }

        .blank_flex {
            flex: 3;
        }
    }

    .copyright {
        width: 100%;
        margin-top: 128px;
        border-top: 4px solid #F5F5F5;
        margin-bottom: 20px;
        display: flex;
        padding-top: 20px;

        @include breakpoint(ipad) {
            border-top: 3px solid #F5F5F5;
        }

        @include breakpoint(tablet) {
            margin-top: 98px;
        }

        @include breakpoint(mobileonly) {
            border-top: 2px solid #F5F5F5;
            
        }


        .company {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 100;
            font-size: 24px;
            text-align: left;
            flex: 1;
            color: #FFFFFF;

            @include breakpoint(ipad) {
                font-size: 18px;
            }

            @include breakpoint(mobileonly) {
                font-size: 16px;
                
            }
        }

        .sitecopyright {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            color: #FFFFFF;
            font-weight: 100;
            font-size: 24px;
            text-align: right;
            flex: 1;

            @include breakpoint(ipad) {
                font-size: 18px;
            }

            @include breakpoint(mobileonly) {
                font-size: 16px;
                
            }
        }
    }
}




.hide-tabMob {
    display: block;

    @include breakpoint(ipad) {
        display: none;
    }
}


.show-tabMob {
    display: none;

    @include breakpoint(ipad) {
        display: block;
    }
}